body {
    background-color: red;
}
.white {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
    margin: 20px;
    background-color: white;
}


.blue {
    height: 53px;
    width: 53px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
    margin: 15px;
    background-color:rgb(6, 201, 250)
}

.red {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
    margin: 15px;
    background-color:rgb(212, 0, 0);
}

.yellow {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
    margin: 15px;
    background-color: yellow;
}

.green {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
    margin: 15px;
    background-color: rgb(0, 184, 0);
}

.grey {
    margin-right: 30px;
    height: 520px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    background-color: rgb(165, 165, 165);
}

.black {
    margin-left: 30px;
    height: 520px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
}

.smaller-dark-square {
    position: relative;
    height: 320px;
    bottom: 3px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    background-color: black;
}

.text {
    position: relative;
    height: 190px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: black;
    color: white;
}

.picture {
    position: relative;
    bottom: 3px;
    height: 320px;
    margin-left: 150px;
    margin-right: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: blue;
    border-radius: 15px;
    background-color: blue;
}

.white {
    background-color: white;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}
.Inner {
    margin-top: 25px;
    margin-left: 51%;
    margin-right: 50px;
    height: 450px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
    background-color: white;
}

hr.border {
    border: 3px solid black;
    border-radius: 2px
}

hr.bottom {
    border: 3px solid grey;
    border-radius: 2px;
}

hr.middle {
    width: 20%;
    border-width: 3px;
    border-color: black;
    border-radius: 3px;
    position: relative;
    top: 410px;
    margin-right: 28px;
}

.small-red-dot {
    position: relative;
    top: -29px;
    left: 200px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
    margin: 15px;
    background-color:rgb(230, 0, 0);
}

.pokemon-entry {
    height: 25px;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    background-color: white;
    font-size: larger;
}

.scroll {
    overflow-y: auto;
    border-radius: 4px;
}

